<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\Users\Kashee\Desktop\Django\kashee_hrms\kashee" />
    <add key="WSGI_HANDLER" value="kashee.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="kashee.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Kashee\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\Kashee\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>