{% load static %}
<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
      <div class="navbar-logo">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><i class="feather icon-menu"></i></a>
        <a href="index-2.html"><img style="max-width: 50%; height: auto;" src="{% static 'files/assets/images/logo.png' %}" alt="kashee_logo" /></a>
        <a class="mobile-options"><i class="feather icon-more-horizontal"></i></a>
      </div>
      <div class="navbar-container">
        <ul class="nav-left">
          <li class="header-search">
            <div class="main-search morphsearch-search">
              <div class="input-group">
                <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                <input type="text" class="form-control" />
                <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
              </div>
            </div>
          </li>
          <li>
            <a href="#!" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize full-screen"></i></a>
          </li>
        </ul>
        <ul class="nav-right">
          <li class="header-notification">
            <div class="dropdown-primary dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown">
                <i class="feather icon-bell"></i>
                <span class="badge bg-c-pink">5</span>
              </div>
              <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New</label>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="{% static 'files/assets/images/avatar-4.jpg' %}" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h5 class="notification-user">John Doe</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="{% static 'files/assets/images/avatar-3.jpg' %}" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h5 class="notification-user">Joseph William</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="{% static 'files/assets/images/avatar-4.jpg' %}" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h5 class="notification-user">Sara Soudein</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-notification">
            <div class="dropdown-primary dropdown">
              <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                <i class="feather icon-message-square"></i>
                <span class="badge bg-c-green">3</span>
              </div>
            </div>
          </li>
          <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% if emp.gender.gender == 'Male' %}{% static 'dist/img/user-male.jpg' %}{% else %} {% static 'dist/img/user-female.jpg' %} {% endif %}" class="img-radius" alt="User-Image" />
                <span>{% if request.user.first_name %}{{request.user.first_name}}  {{request.user.last_name}}
                  {% else %}
                  {{request.user.username}}
                  {% endif %}</span>
                <i class="feather icon-chevron-down"></i>
              </div>
              <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">                
                <li>
                  <a href="{% url 'hrhead_profile' %}"><i class="feather icon-user"></i> Profile</a>
                </li>
                <li>
                  <a href="{% url 'head_apply_leaves' %}"><i class="feather icon-mail"></i>Apply Leaves</a>
                </li>
                <li>
                  <a href="{% url 'head_attendance' %}"><i class="icofont icofont-ui-calendar"></i>My Attendance</a>
                </li>
                <li>
                  <a href="{% url 'headhr_regularization_list' %}"><i class="icofont icofont-ui-calendar"></i>My Regularizations</a>
                </li>
                <li>
                  <a href="{% url 'head_leaves' %}"><i class="icofont icofont-ui-calendar"></i>My Leaves</a>
                </li>
                <li>
                  <a href="{% url 'head_apply_tours' %}"><i class="icofont icofont-ui-calendar"></i>Apply Tours</a>
                </li>
                <li>
                  <a href="{% url 'headhr_change_password' %}"><i class="icofont icofont-ui-password"></i> Change Password</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}"><i class="feather icon-log-out"></i> Logout</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
