{% extends 'employee/base_template.html' %}
{% load static %}

{% block xtra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'files/assets/pages/data-table/css/buttons.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'files/assets/pages/data-table/extensions/autofill/css/autoFill.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'files/assets/pages/data-table/extensions/autofill/css/select.dataTables.min.css' %}" />
  <style>
    .status {
      padding: 5px 10px;
      border-radius: 5px;
    }
    
    .approved {
      color: white;
      background-color: green;
    }
    
    .rejected {
      color: white;
      background-color: red;
    }
    
    .pending {
      /* Define default styles for pending status, if needed */
    }
    #selectedFilesList{
      padding: 10px;
      background-color: aliceblue;

    }
  </style>
{% endblock %}

{% block main_content %}
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="page-header">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <div class="row">                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="{% url 'hrhead_home' %}"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="{% url 'hrhead_home' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="#!">Tours</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="page-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="md-overlay"></div>
                  <div class="card-header">
                    <h5>Applied Tours</h5>
                    <div class="card-header-right">
                      <ul class="list-unstyled card-option">
                        <li>
                          <i class="feather icon-maximize full-card"></i>
                        </li>
                        <li>
                          <i class="feather icon-minus minimize-card"></i>
                        </li>
                        <li>
                          <i class="feather icon-trash-2 close-card"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="dt-responsive table-responsive">
                      <table id="colum-select" class="table table-striped table-bordered nowrap">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Applied On</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Visit</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tour in tours %}
                            <tr>
                              <td></td>
                              <td>{{ tour.title }}</td>
                              <td>{{ tour.applied_on }}</td>
                              <td>{{ tour.start_date }}</td>
                              <td>{{ tour.end_date }}</td>
                              <td>
                                {% if tour.is_approved %}
                                  <span class="status approved">Approved</span>
                                {% elif tour.is_rejected %}
                                  <span class="status rejected">Rejected</span>
                                {% else %}
                                  <span class="status pending">Pending</span>
                                {% endif %}
                              </td>
                              <td>
                                {% if tour.is_completed %}
                                  <span class="status approved"><i class="icofont icofont-tick-boxed"></i>Completed</span>
                                {% else %}
                                  <span class="status pending">Uncomplete</span>
                                {% endif %}
                              </td>                                
                              <td class="dropdown">
                                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                <div class="dropdown-menu dropdown-menu-right b-none contact-menu">
                                  <a class="dropdown-item {% if not tour.is_approved %} disabled {% endif %}
                                  {% if not tour.is_approved %} disabled {% endif %}
                                  {% if tour.is_completed %} disabled {% endif %}" 
                                  href="{% url 'emp_complete_tour' tour.id %}">
                                  <i class="icofont icofont-tick-boxed">

                                  </i>Mark Complete</a>

                                  <a class="dropdown-item" href="{% url 'emp_view_tour' tour.id %}"><i class="icofont icofont-eye"></i>View Details</a>
                                  <a class="dropdown-item" href="{% url 'emp_delete_tour' tour.id %}"><i class="icofont icofont-ui-delete"></i>Delete</a>
                                  <a class="dropdown-item {% if tour.is_approved %}disabled
                                    {% elif tour.is_rejected %}disabled
                                    {% endif %}"
                                    href="{% url 'emp_edit_tour' tour.id %}">
                                    <i class="icofont icofont-tick-mark"></i>Edit
                                  </a>
                                </div>
                              </td>
                            </tr>                            
                          {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Applied On</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Visit</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="styleSelector"></div>
    </div>
  </div>
{% endblock %}

{% block xtra_js %}
  <script src="{% static 'files/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'files/assets/pages/data-table/extensions/autofill/js/dataTables.autoFill.min.js' %}"></script>
  <script src="{% static 'files/assets/pages/data-table/extensions/autofill/js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'files/bower_components/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'files/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'files/assets/pages/data-table/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'files/assets/pages/data-table/extensions/autofill/js/extensions-custom.js' %}"></script>
{% endblock %}
