<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Kashee | HRMS</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="{% static 'files/assets/images/favicon.ico' %}" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/datedropper/datedropper.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/spectrum/spectrum.css' %}" />
    {% block xtra_css %}

    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/themify-icons/themify-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/linearicons.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/jquery-minicolors/jquery.minicolors.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/feather/css/feather.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/icofont/css/icofont.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/jquery.mCustomScrollbar.css' %}" />

    <style>
      /* Styles for the loader */
      #loader-wrapper {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Light black background */
      }
      
      .loader-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* Adjust text color */
      }
      /* Styles for floating alerts container */
      .floating-alerts-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999; /* Ensure it's above other content */
      }
      
      /* Styles for individual floating alert */
      .float-alert {
        opacity: 0;
        animation: floatAlert 5s ease forwards;
      }
      
      @keyframes floatAlert {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
  </head>
  <body>
    <div class="theme-loader">
      <div class="ball-scale">
        <div class="contain">
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="loader-wrapper">
      <div class="loader-block">
        <div class="preloader6">
          <hr />
        </div>
      </div>
    </div>

    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        {% include 'employee/navbar.html' %}
        {% include 'employee/message_sidebar.html' %}
        {% include 'employee/chat_sidebar.html' %}

        <div class="pcoded-main-container">
          <!-- Your existing HTML structure -->
          <div class="floating-alerts-container">
            {% if messages %}
              <div class="col-12">
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <div class="alert alert-danger border-danger float-alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="icofont icofont-close-line-circled"></i></button>
                      <strong>{{ message }}</strong>
                    </div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success border-success float-alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="icofont icofont-close-line-circled"></i></button>
                      <strong>{{ message }}</strong>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="pcoded-wrapper">
            {% include 'employee/sidebar_template.html' %}

            {% block main_content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/modernizr/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/chart.js/dist/Chart.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/amcharts.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/light.js' %}"></script>
    <script src="{% static 'files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'files/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'files/assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/script.min.js' %}"></script>

    {% block xtra_js %}

    {% endblock %}

    <script type="text/javascript" src="{% static 'files/assets/pages/advance-elements/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/pages/advance-elements/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/datedropper/datedropper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/spectrum/spectrum.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jscolor/jscolor.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/i18next/i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-i18next/jquery-i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/pages/advance-elements/custom-picker.js' %}"></script>
    <script>
      $(document).ready(function () {
        $('.float-alert').each(function (index) {
          $(this)
            .delay(500 * index)
            .queue(function () {
              $(this).addClass('float-alert')
              $(this).dequeue()
            })
        })
        function showLoader() {
          $('#loader-wrapper').fadeIn('fast')
          setTimeout(hideLoader, 3000)
        }
        function hideLoader() {
          $('#loader-wrapper').fadeOut('fast')
        }
        $('#submitButton').on('click', function (event) {
          showLoader()
        })
      })
    </script>
    <!-- Include WebSocket connection in your frontend -->
    <script>
      const socket = new WebSocket('ws://' + window.location.host + '/ws/notifications/')
      
      socket.onmessage = function (event) {
        const data = JSON.parse(event.data)
        console.log('Received:', data.message)
        // Implement your notification handling logic here
      }
    </script>
    <script>
      var loc = window.location
      var wsStart = 'ws://'
      
      if (loc.protocol == 'https:') {
        wsStart = 'wss://'
      }
      
      var webSocketEndpoint = wsStart + loc.host + '/ws/notifications/'
      var socket = new WebSocket(webSocketEndpoint)
      
      console.log('Web Socket End Point is  : ' + webSocketEndpoint)
      socket.onmessage = function (e) {
        console.log(e.data);
        var messageData = JSON.parse(e.data);
            var alertElement = $('<div class="alert alert-info border-info float-alert ">' +
                                 '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                 '<i class="icofont icofont-close-line-circled"></i></button>' +
                                 '<strong>' + messageData.message + '</strong>' +
                                 '</div>');
    
            $('.floating-alerts-container').append(alertElement);
                                 }
    
      // Socket Connect Functionality
      socket.onopen = function (e) {
        console.log('open', e)
      }
      
      // Socket Error Functionality
      socket.onerror = function (e) {
        console.log('error', e)
      }
      
      // Socket close Functionality
      socket.onclose = function (e) {
        console.log('closed', e)
      }
    </script>

  </body>
</html>
