{% extends 'superadmin/base_template.html' %}
{% load static %}

{% block main_content %}
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="page-header">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h4>{{ msg }} Enrollment</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="{% url 'super_admin_home' %}"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="{% url 'super_admin_home' %}">Dashboard</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="page-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="d-flex justify-content-center" style="margin-bottom: 60px; margin-top: 60px;">
                    <div class="col-sm-6 border p-4" style="border-radius: 5px;">
                      <span id="error" class="error-message"></span>
                      <form id="change-password-form" method="POST" class="md-float-material form-material">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row">
                          <div class="col-md-12">
                            <button type="submit" id="btnChangePassword" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Change Password</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="styleSelector"></div>
    </div>
  </div>
{% endblock %}