{% extends 'superadmin/base_template.html' %}
{% load static %}

{% block xtra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/fullcalendar/dist/fullcalendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/fullcalendar/dist/fullcalendar.print.css' %}" media="print" />
{% endblock %}
{% block main_content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper full-calender">
          <div class="page-header">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h4>Profile Summary</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="{% url 'hrhead_home' %}"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                      <a href="">Summary</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="page-body">
            <div class="card">
              <div class="card-header">
                <h5>Full Calender</h5>
                <div class="card-header-right">
                  <ul class="list-unstyled card-option">
                    <li>
                      <i class="feather icon-maximize full-card"></i>
                    </li>
                    <li>
                      <i class="feather icon-minus minimize-card"></i>
                    </li>
                    <li>
                      <i class="feather icon-trash-2 close-card"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-xl-2 col-md-12">
                    <div id="external-events">
                      <h6 class="m-b-30 m-t-20">Events</h6>
                      <div style="background-color: #32CD32;" class="fc-event ">Present</div>
                      <div style="background-color:red;" class="fc-event ">Absent</div>
                      <div style="background-color:yellow;" class="fc-event ">SL(Sick Leave)</div>
                      <div style="background-color:orange;" class="fc-event ">CL(Casual Leave)</div>
                      <div style="background-color:pink;" class="fc-event ">EL(Earned Leave)</div>
                      <div style="background-color:darkgray;" class="fc-event ">Office Tour</div>
                      <div style="background-color:#9ba9bf;" class="fc-event ">Holidays</div>                      
                    </div>
                  </div>
                  <div class="col-xl-10 col-md-12">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-error">
            <div class="card text-center">
              <div class="card-block">
                <div class="m-t-10">
                  <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                  <h4 class="f-w-600 m-t-25">Not supported</h4>
                  <p class="text-muted m-b-0">Full Calender not supported in this device</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="styleSelector"></div>
    </div>
  </div>
{% endblock %}

{% block xtra_js %}
<script type="text/javascript" src="{% static 'files/assets/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/i18next/i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/bower_components/jquery-i18next/jquery-i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/assets/pages/full-calender/calendar.js' %}"></script>

{% endblock %}
